<p>
    Votre inscription à été effectué, vous pouvez dès à présent vous connecter avec vos identifiants ci-dessous
    <br/>
    Email: {{email}}
    <br/>
    Mot de passe : {{password}}
    <br/>
    Bienvenue chez pfa
</p>

