{% extends 'base.html.twig' %}

{% block title %}{{ controller_name }}{% endblock %}

{% block body %}

    {{ include('./base/sidebar.html.twig') }}


    <div class="example-wrapper flex-1 py-4">


        <div class="flex justify-between p-4">
            <div class="flex items-center">
                <div class="w-6 h-6 mr-1">
                    {{ heroicon('presentation-chart-line', '', 'outline') }}
                </div>
                <h1 class="text-2xl">{{ controller_name }}</h1>
            </div>

        </div>

    </div>
{% endblock %}
